
:root{
    --light: #ffffff;
    --dark: #000000;
    --pale: whitesmoke;
    --grey: darkslategrey;
}

body{
    background-color: var(--light);
    color: var(--dark);
}

.nav{
    background-color: var(--grey);
    border: 1px solid var(var(--dark));
    padding: 20px;
}

.nav a{
    padding: 20px;
    color: var(--light);
    text-align: center;
    font-size: 20px;
}

.nav a:hover{
    background-color: green;
    color: var(--dark);
}

.nav .mode{
    background-color: var(--grey);
    padding: 20px;
    color: var(--light);
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.nav .mode:hover{
    background-color: green;
    color: var(--dark);
}

.headshot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

h2{
    font-size: 20px;
}

form{
    margin-left: 10px;
    padding: 20px;
    background-color: var(--pale);
}
  
label{
    width: 240px;
    display: inline-block;
}

.btn{
    font-size: 10px;
    width: 11.5%;
    padding: 15px;
    margin-top: 5px;
}

.btn-primary {
    border: 1px solid green;
    background-color: green;
    color: var(--light);
}

.btn-primary:hover{
    background-color: orange;
    color: var(--dark);
}

.btn-secondary {
    border: 1px solid green;
    background-color: var(--light);
    color: green;
}

.btn-secondary:hover{
    background-color: orange;
    color: var(--dark);
}

.text-box{
    size: 200%;
}
